In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

24/11/24 09:31:48 WARN Utils: Your hostname, Ngas-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.115 instead (on interface en0)
24/11/24 09:31:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/24 09:31:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
people = (
    spark
    .read
    .option("header", "true")
    .option("inferSchema", "true")
    .csv("data/fake-social-nw/fake_friends.csv")
)

In [10]:
print("Here is our inferred schema:")
people.printSchema()

Here is our inferred schema:
root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Number of Friends: integer (nullable = true)

In [11]:
print("Let's display the name column:")
people.select("Name").show()

Let's display the name column:
+--------+
|    Name|
+--------+
|    Will|
|Jean-Luc|
|    Hugh|
|  Deanna|
|   Quark|
|  Weyoun|
|  Gowron|
|    Will|
|  Jadzia|
|    Hugh|
|     Odo|
|     Ben|
|   Keiko|
|Jean-Luc|
|    Hugh|
|     Rom|
|  Weyoun|
|     Odo|
|Jean-Luc|
|  Geordi|
+--------+
only showing top 20 rows

In [12]:
print("Filter out anyone over 21:")
people.filter(people.Age < 21).show()

Filter out anyone over 21:
+---+-------+---+-----------------+
| ID|   Name|Age|Number of Friends|
+---+-------+---+-----------------+
| 21|  Miles| 19|              268|
| 48|    Nog| 20|                1|
| 52|Beverly| 19|              269|
| 54|  Brunt| 19|                5|
| 60| Geordi| 20|              100|
| 73|  Brunt| 20|              384|
|106|Beverly| 18|              499|
|115|  Dukat| 18|              397|
|133|  Quark| 19|              265|
|136|   Will| 19|              335|
|225|   Elim| 19|              106|
|304|   Will| 19|              404|
|327| Julian| 20|               63|
|341|   Data| 18|              326|
|349| Kasidy| 20|              277|
|366|  Keiko| 19|              119|
|373|  Quark| 19|              272|
|377|Beverly| 18|              418|
|404| Kasidy| 18|               24|
|409|    Nog| 19|              267|
+---+-------+---+-----------------+
only showing top 20 rows

In [13]:
print("Group by age:")
people.groupBy("Age").count().show()

Group by age:
+---+-----+
|Age|count|
+---+-----+
| 31|    8|
| 65|    5|
| 53|    7|
| 34|    6|
| 28|   10|
| 26|   17|
| 27|    8|
| 44|   12|
| 22|    7|
| 47|    9|
| 52|   11|
| 40|   17|
| 20|    5|
| 57|   12|
| 54|   13|
| 48|   10|
| 19|   11|
| 64|   12|
| 41|    9|
| 43|    7|
+---+-----+
only showing top 20 rows

In [ ]:
print("Make everyone 10 years older:")
people.select(people.Name, people.Age + 10).show()

Make everyone 10 years older:
+--------+----------+
|    Name|(Age + 10)|
+--------+----------+
|    Will|        43|
|Jean-Luc|        36|
|    Hugh|        65|
|  Deanna|        50|
|   Quark|        78|
|  Weyoun|        69|
|  Gowron|        47|
|    Will|        64|
|  Jadzia|        48|
|    Hugh|        37|
|     Odo|        63|
|     Ben|        67|
|   Keiko|        64|
|Jean-Luc|        66|
|    Hugh|        53|
|     Rom|        46|
|  Weyoun|        32|
|     Odo|        45|
|Jean-Luc|        55|
|  Geordi|        70|
+--------+----------+
only showing top 20 rows

In [17]:
print("Get number of friends by age:")
people.groupBy("Age").agg({"Number of Friends": "sum"}).show()

Get number of friends by age:
+---+----------------------+
|Age|sum(Number of Friends)|
+---+----------------------+
| 31|                  2138|
| 65|                  1491|
| 53|                  1560|
| 34|                  1473|
| 28|                  2091|
| 26|                  4115|
| 27|                  1825|
| 44|                  3386|
| 22|                  1445|
| 47|                  2099|
| 52|                  3747|
| 40|                  4264|
| 20|                   825|
| 57|                  3106|
| 54|                  3615|
| 48|                  2814|
| 19|                  2346|
| 64|                  3376|
| 41|                  2417|
| 43|                  1614|
+---+----------------------+
only showing top 20 rows

In [18]:
print("Make everyone has more 100 friends:")
people.select(people.Name, people.Age, people["Number of Friends"] + 100).show()

Make everyone has more 100 friends:
+--------+---+-------------------------+
|    Name|Age|(Number of Friends + 100)|
+--------+---+-------------------------+
|    Will| 33|                      485|
|Jean-Luc| 26|                      102|
|    Hugh| 55|                      321|
|  Deanna| 40|                      565|
|   Quark| 68|                      121|
|  Weyoun| 59|                      418|
|  Gowron| 37|                      320|
|    Will| 54|                      407|
|  Jadzia| 38|                      480|
|    Hugh| 27|                      281|
|     Odo| 53|                      291|
|     Ben| 57|                      472|
|   Keiko| 54|                      353|
|Jean-Luc| 56|                      544|
|    Hugh| 43|                      149|
|     Rom| 36|                      149|
|  Weyoun| 22|                      423|
|     Odo| 35|                      113|
|Jean-Luc| 45|                      555|
|  Geordi| 60|                      346|
+--------+---+-------------------------+
only showing top 20 rows

In [19]:
spark.stop()