In [2]:
from pyspark.sql import SparkSession, functions as func
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [3]:
spark = SparkSession.builder.appName("CustomerOrders").getOrCreate()

24/11/25 20:18:55 WARN Utils: Your hostname, Ngas-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.115 instead (on interface en0)
24/11/25 20:18:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/25 20:18:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
schema = StructType([
    StructField("customer_id", IntegerType(), False),
    StructField("item_id", IntegerType(), False),
    StructField("amount_spent", FloatType(), False)
])

In [7]:
df = spark.read.schema(schema).csv("../data/customer-orders.csv")
df.show()

+-----------+-------+------------+
|customer_id|item_id|amount_spent|
+-----------+-------+------------+
|         44|   8602|       37.19|
|         35|   5368|       65.89|
|          2|   3391|       40.64|
|         47|   6694|       14.98|
|         29|    680|       13.08|
|         91|   8900|       24.59|
|         70|   3959|       68.68|
|         85|   1733|       28.53|
|         53|   9900|       83.55|
|         14|   1505|        4.32|
|         51|   3378|        19.8|
|         42|   6926|       57.77|
|          2|   4424|       55.77|
|         79|   9291|       33.17|
|         50|   3901|       23.57|
|         20|   6633|        6.49|
|         15|   6148|       65.53|
|         44|   8331|       99.19|
|          5|   3505|       64.18|
|         48|   5539|       32.42|
+-----------+-------+------------+
only showing top 20 rows

In [9]:
total_by_customer = df.groupBy("customer_id").agg(func.round(func.sum("amount_spent"), 2).alias("total_spent"))
total_by_customer.show()

+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
|         31|    4765.05|
|         85|    5503.43|
|         65|    5140.35|
|         53|     4945.3|
|         78|    4524.51|
|         34|     5330.8|
|         81|    5112.71|
|         28|    5000.71|
|         76|    4904.21|
|         27|    4915.89|
|         26|     5250.4|
|         44|    4756.89|
|         12|    4664.59|
|         91|    4642.26|
|         22|    5019.45|
|         93|    5265.75|
|         47|     4316.3|
|          1|     4958.6|
|         52|    5245.06|
|         13|    4367.62|
+-----------+-----------+
only showing top 20 rows

In [10]:
# Sorted by total_spent
total_by_customer_sorted = total_by_customer.sort("total_spent")
total_by_customer_sorted.show()

+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
|         45|    3309.38|
|         79|    3790.57|
|         96|    3924.23|
|         23|    4042.65|
|         99|    4172.29|
|         75|     4178.5|
|         36|    4278.05|
|         98|    4297.26|
|         47|     4316.3|
|         77|    4327.73|
|         13|    4367.62|
|         48|    4384.33|
|         49|     4394.6|
|         94|    4475.57|
|         67|    4505.79|
|         50|    4517.27|
|         78|    4524.51|
|          5|    4561.07|
|         57|     4628.4|
|         83|     4635.8|
+-----------+-----------+
only showing top 20 rows