In [14]:
from pyspark.sql import SparkSession, functions as func

In [2]:
spark = SparkSession.builder.appName("FriendsByAge").getOrCreate()

24/11/25 19:24:25 WARN Utils: Your hostname, Ngas-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.115 instead (on interface en0)
24/11/25 19:24:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/25 19:24:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
line = spark.read.option("header", "true").option("inferSchema", "true").csv("../data/fake-social-nw/fake_friends.csv")

In [10]:
friend_by_age = line.select("age", "Number of Friends")
friend_by_age.show()

+---+-----------------+
|age|Number of Friends|
+---+-----------------+
| 33|              385|
| 26|                2|
| 55|              221|
| 40|              465|
| 68|               21|
| 59|              318|
| 37|              220|
| 54|              307|
| 38|              380|
| 27|              181|
| 53|              191|
| 57|              372|
| 54|              253|
| 56|              444|
| 43|               49|
| 36|               49|
| 22|              323|
| 35|               13|
| 45|              455|
| 60|              246|
+---+-----------------+
only showing top 20 rows

In [ ]:
# From friend_by_age we group by age and calculate the average number of friends
friend_by_age.groupBy("age").avg("Number of Friends").show()

+---+----------------------+
|age|avg(Number of Friends)|
+---+----------------------+
| 31|                267.25|
| 65|                 298.2|
| 53|    222.85714285714286|
| 34|                 245.5|
| 28|                 209.1|
| 26|    242.05882352941177|
| 27|               228.125|
| 44|     282.1666666666667|
| 22|    206.42857142857142|
| 47|    233.22222222222223|
| 52|     340.6363636363636|
| 40|     250.8235294117647|
| 20|                 165.0|
| 57|     258.8333333333333|
| 54|     278.0769230769231|
| 48|                 281.4|
| 19|    213.27272727272728|
| 64|     281.3333333333333|
| 41|    268.55555555555554|
| 43|    230.57142857142858|
+---+----------------------+
only showing top 20 rows

In [12]:
# Sorted
friend_by_age.groupBy("age").avg("Number of Friends").sort("age").show()

+---+----------------------+
|age|avg(Number of Friends)|
+---+----------------------+
| 18|               343.375|
| 19|    213.27272727272728|
| 20|                 165.0|
| 21|               350.875|
| 22|    206.42857142857142|
| 23|                 246.3|
| 24|                 233.8|
| 25|    197.45454545454547|
| 26|    242.05882352941177|
| 27|               228.125|
| 28|                 209.1|
| 29|    215.91666666666666|
| 30|     235.8181818181818|
| 31|                267.25|
| 32|     207.9090909090909|
| 33|     325.3333333333333|
| 34|                 245.5|
| 35|               211.625|
| 36|                 246.6|
| 37|    249.33333333333334|
+---+----------------------+
only showing top 20 rows

In [16]:
# Formating
friend_by_age.groupBy("age").agg(func.round(func.avg("Number of Friends"), 2)).sort("age").show()

+---+--------------------------------+
|age|round(avg(Number of Friends), 2)|
+---+--------------------------------+
| 18|                          343.38|
| 19|                          213.27|
| 20|                           165.0|
| 21|                          350.88|
| 22|                          206.43|
| 23|                           246.3|
| 24|                           233.8|
| 25|                          197.45|
| 26|                          242.06|
| 27|                          228.13|
| 28|                           209.1|
| 29|                          215.92|
| 30|                          235.82|
| 31|                          267.25|
| 32|                          207.91|
| 33|                          325.33|
| 34|                           245.5|
| 35|                          211.63|
| 36|                           246.6|
| 37|                          249.33|
+---+--------------------------------+
only showing top 20 rows

In [18]:
# Change column name
friend_by_age.groupBy("age").agg(func.round(func.avg("Number of Friends"), 2).alias("friend_avg")).sort("age").show()

+---+----------+
|age|friend_avg|
+---+----------+
| 18|    343.38|
| 19|    213.27|
| 20|     165.0|
| 21|    350.88|
| 22|    206.43|
| 23|     246.3|
| 24|     233.8|
| 25|    197.45|
| 26|    242.06|
| 27|    228.13|
| 28|     209.1|
| 29|    215.92|
| 30|    235.82|
| 31|    267.25|
| 32|    207.91|
| 33|    325.33|
| 34|     245.5|
| 35|    211.63|
| 36|     246.6|
| 37|    249.33|
+---+----------+
only showing top 20 rows

In [19]:
spark.stop()